<!DOCTYPE html>
<html>
<head>
<title>Melissa &#8734; Daylan</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2, .bgimg3, .bgimg4  {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.bgimg5 {
  min-height: 100%;
  background-position: center;
  background-size: auto 100% ; 
  background-repeat: no-repeat;
}

.bgimg {background-image: url("/static/wedding_rings3.jpg")}
.bgimg5 {background-image: url("/static/pictures/wide_shot.jpg")}
.bgimg3 {background-image: url("/static/housing.jpg")}
.bgimg4 {background-image: url("/static/bridal.jpg")}

</style>
</head>
<body>

<!-- Header / Countdown -->

<div class="w3-container w3-center w3-white">
    <h1 id="countdown" class="w3-xxlarge"></h1>
</div>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Melissa & Daylan</h1>
    <h2>Are getting married</h2>
    <h2><b>05.Oct.2024</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:14.285%" class="w3-bar-item w3-button w3-hover-amber">Home</a>
    <a href="#us" style="width:14.285%" class="w3-bar-item w3-button w3-hover-amber">Our Story</a>
    <a href="#wedding" style="width:14.285%" class="w3-bar-item w3-button w3-hover-amber">Wedding Details</a>
    <a href="#rsvp" style="width:14.285%" class="w3-bar-item w3-button w3-hover-amber">RSVP</a>
    <a href="#accommodation" style="width:14.285%" class="w3-bar-item w3-button w3-hover-amber">Accommodation</a>
    <a href="#information" style="width:14.285%" class="w3-bar-item w3-button w3-hover-amber">Other Information</a>
    <a href="#bridal" style="width:14.285%" class="w3-bar-item w3-button w3-hover-amber">The Bridal Party</a>
  </div>
</div>

<div class="w3-content" style="max-width:1587px; position: relative;">

    <!-- About / Jane And John -->
    <div class="w3-container w3-padding-64 w3-white animate slide-right" id="us">
      <div class="w3-content">
        <h1 class="w3-center w3-text-grey"><b>Our Story</b></h1>
        <img class=" center" src="/static/pictures/our_story.jpg" style="width:60%;">
        <p><i>You all know us. And we all know you. We are getting married lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</i>
        </p><br>
        <p class="w3-center"><a href="#wedding" class="w3-button w3-amber w3-round w3-padding-large w3-large">Wedding Details</a></p>
      </div>
    </div>

</div>


<!-- Background photo -->
<div class="w3-container bgimg5 animate slide-left">
</div>


<!-- Wedding information -->
<div class="w3-content" style="max-width:1587px; position: relative;">

    <div class="container">
        <div class="links">
            <ul>
                <li data-content="bigDay" data-img-src="/static/pictures/manley_estate.jpg">The big day</li>
                <li data-content="preWedding" data-img-src="/static/pictures/tester.jpg">The pre-wedding get-together</li>
                <li data-content="goodbyes" data-img-src="/static/pictures/faces.jpg">Our goodbyes</li>
            </ul>
        </div>
        <div class="content">
            <div class="image-crop-container">
                <img id="contentImage" src="/static/pictures/manley_estate.jpg" alt="Venue Image">
            </div>
            <div id="eventDetails">
                <!-- Dynamic content will be loaded here based on the clicked link -->
            </div>
        </div>
    </div>

    <!-- RSVP section -->
    <div class="w3-container w3-padding-64 w3-white w3-center w3-wide" id="rsvp">
      <h1>HOPE YOU CAN MAKE IT!</h1>
      <p class="w3-large">Kindly Respond By ??, 2024</p>
      <p class="w3-xlarge">
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-amber w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
      </p>
    </div>

</div>



<!-- Accommodation -->
<div class="w3-display-container bgimg3">
  <div class="w3-display-right2 w3-text-white w3-center" id="accommodation">
    <h1 class="w3-jumbo">Nearby Accommodation</h1><br>
    <h2>Here are some details..</h2>
  </div>
</div>

<div class="w3-content" style="max-width:1587px; position: relative;">

    <!-- OTHER INFORMATION -->
    <div class="w3-container w3-padding-64 w3-white w3-grayscale-min w3-center" id="information">
      <div class="w3-content">
        <h1 class="w3-text-grey"><b>OTHER INFORMATION</b></h1>
      </div>
    </div>
    
</div>

<!-- The Bridal Party -->
<div class="w3-display-container bgimg4">
  <div class="w3-display-left2 w3-text-white w3-center" id="bridal">
    <h1 class="w3-jumbo">The Bridal Party</h1><br>
    <h2>Here are some details..</h2>
  </div>
</div>
    
    

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
      </form>
      <div class="w3-row">
        <div class="w3-half">
          <button id="goingButton" onclick="showAdditionalFields()" type="button" class="w3-button w3-block w3-green">Going</button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
        </div>
      </div>
      <div id="additionalFieldsContainer"></div>
      <p><i>Sincerely, Melissa & Daylan</i></p>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p> -->
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

<!-- Add a script at the end of your HTML body -->

<script>
document.addEventListener('DOMContentLoaded', () => {
    const links = document.querySelectorAll('.links li');
    const eventDetails = document.getElementById('eventDetails');
    const contentImage = document.getElementById('contentImage'); // Get the image element

    // Define the content and associated image source for each event
    const eventData = {
        'preWedding': {
            content: `
                <h2>The pre-wedding get-together</h2>
                <h3>Please join us for a lovely spit-braai as we get to know each other the night before our big day. Let’s acquaint with each other and get the vibes going ;)</h3>
                <p>When - Friday 04 October 18:00</p>
                <p>Location - Manley Estate lapa and pool area</p>
                <p>What to bring - Own drinks (No cash bar on site)</p>
            `,
            imgSrc: '/static/pictures/tester.jpg'
        },
        'goodbyes': {
            content: `
                <h2>Our goodbyes</h2>
                <h3>You are invited to join us for our first breakfast as the Myburghs!</h3>
                <p>Note: breakfast is included for guests staying at Manley Estate. For guests staying elsewhere, breakfast is R190 per person.</p>
                <p>Venue - Manley Wine Estate Restaurant</p>
                <p>Time - 09:30</p>
            `,
            imgSrc: '/static/pictures/faces.jpg'
        },
        'bigDay': {
            content: `
                <h2>The big day</h2>
                <p>Venue - Manley Wine Estate, Tulbagh</p>
                <p>When - 14:30 for a 15:00 Start</p>
            `,
            imgSrc: '/static/pictures/manley_estate.jpg' // Assume you have a big day image
        }
    };

    // Initialize with pre-wedding details and image
    eventDetails.innerHTML = eventData['bigDay'].content;
    contentImage.src = eventData['bigDay'].imgSrc;

    links.forEach(link => {
        link.addEventListener('click', function() {
            const contentId = this.getAttribute('data-content');
            eventDetails.innerHTML = eventData[contentId].content;
            contentImage.src = eventData[contentId].imgSrc; // Update the image source based on the clicked link
        });
    });
});

</script>


<script>
var additionalFieldsAdded = false;

function showAdditionalFields() {
  if (additionalFieldsAdded) {
    return;
  }

  var additionalFieldsContainer = document.getElementById('additionalFieldsContainer');
  var dietaryRequirementsInput = document.createElement('input');
  dietaryRequirementsInput.className = 'w3-input w3-border';
  dietaryRequirementsInput.type = 'text';
  dietaryRequirementsInput.placeholder = 'Dietary requirements';
  dietaryRequirementsInput.name = 'dietaryRequirements';

  var songRequestsInput = document.createElement('input');
  songRequestsInput.className = 'w3-input w3-border';
  songRequestsInput.type = 'text';
  songRequestsInput.placeholder = 'Input any song requests here!';
  songRequestsInput.name = 'songRequests';

  var doneButton = document.createElement('button');
  doneButton.className = 'w3-button w3-block w3-green';
  doneButton.type = 'button';
  doneButton.innerText = 'Done';
  doneButton.onclick = function() {
    document.getElementsByName('name')[0].value = '';
    dietaryRequirementsInput.value = '';
    songRequestsInput.value = '';
    document.getElementById('additionalFieldsContainer').style.display = 'none';
    document.getElementById('id01').style.display = 'none';
  };

  additionalFieldsContainer.innerHTML = '';
  additionalFieldsContainer.appendChild(dietaryRequirementsInput);
  additionalFieldsContainer.appendChild(songRequestsInput);
  additionalFieldsContainer.appendChild(doneButton);

  additionalFieldsAdded = true;
}

document.getElementById('goingButton').addEventListener('click', function() {
  showAdditionalFields();
  document.getElementById('additionalFieldsContainer').style.display = 'block';
  document.getElementById('id01').style.display = 'none';
});

document.getElementById('id01').addEventListener('click', function(event) {
  if (event.target === this) {
    additionalFieldsAdded = false;
    document.getElementById('additionalFieldsContainer').innerHTML = '';
    document.getElementById('additionalFieldsContainer').style.display = 'none';
    document.getElementsByName('name')[0].value = '';
  }
});

document.getElementById('additionalFieldsContainer').style.display = 'none';
</script>

<script>
// Function to update the countdown every second
function updateCountdown() {
    const weddingDate = new Date("2024-10-04").getTime();
    const now = new Date().getTime();
    const difference = weddingDate - now;
    
    // Time calculations for days, hours, minutes, and seconds
    const days = Math.floor(difference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((difference % (1000 * 60)) / 1000);
    
    // Display the result in the element with id="countdown"
    document.getElementById("countdown").innerHTML = days + " days " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the countdown is finished, write some text
    if (difference < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "The wedding has begun!";
    }
}
// Update the countdown every 1 second
let x = setInterval(updateCountdown, 1000);
</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('active');
      }
    });
  });

  // Observe all elements with the 'animate' class
  document.querySelectorAll('.animate').forEach(element => {
    observer.observe(element);
  });
});
</script>




</body>
</html>
