<!DOCTYPE html>
<html>
<head>
<title>Melissa &#8734; Daylan</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Parisienne&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Parisienne&display=swap" rel="stylesheet">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2, .bgimg3, .bgimg4  {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}


.bgimg5, .bgimg6, .bgimg7 {
  min-height: 80vw;
  max-height: 90vw;
  background-position: center;
  background-size: auto 100% ; 
  background-repeat: no-repeat;
}


.bgimg {background-image: url("/static/wedding_rings3.jpg")}
.bgimg5 {background-image: url("/static/pictures/collage1.png")}
.bgimg6 {background-image: url("/static/pictures/collage2.png")}
.bgimg7 {background-image: url("/static/pictures/collage3.png")}
.bgimg3 {background-image: url("/static/housing.jpg")}
.bgimg4 {background-image: url("/static/bridal.jpg")}

</style>
</head>
<body>

<!-- Header / Countdown -->

<div class="w3-container w3-center w3-snow" id="home">
    <h1 id="countdown" class="w3-xxlarge"></h1>
</div>

<!-- Navbar (sticky top) -->

<div id="mySidenav" class="sidenav parisienne-nav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="w3-hover-text-amber" href="#home" onclick="closeNav()">Home</a>
  <a class="w3-hover-text-amber" href="#us" onclick="closeNav()">Our Story</a>
  <a class="w3-hover-text-amber" href="#wedding" onclick="closeNav()">Wedding Details</a>
  <a class="w3-hover-text-amber" href="#rsvp" onclick="closeNav()">RSVP</a>
  <a class="w3-hover-text-amber" href="#accommodation" onclick="closeNav()">Accommodation</a>
  <a class="w3-hover-text-amber" href="#information" onclick="closeNav()">Other Information</a>
  <a class="w3-hover-text-amber" href="#team" onclick="closeNav()">Meet The Team</a>
</div>

<!-- Use any element to open the sidenav -->

<button class="fixed-button parisienne-regular" style="font-size:2vh" onclick="openNav()">&#9776; Menu</button>


<div class="video-container w3-snow">
    <video autoplay muted loop controls>
        <source src="/static/pictures/wedding_video.mp4" type="video/mp4">
    </video>
</div>


<div class="w3-snow" style="padding-top:5vw; padding-bottom:5vw">

<div class="w3-content w3-border-autumn" style="max-width:1587px; position: relative; padding-left:5vw; padding-right:2vw" id="us">

    <!-- About / Jane And John -->
    <div class="w3-container w3-center w3-padding-64 w3-snow animate slide-right">
      <div class="w3-content">
        <h1 class="w3-center parisienne-regular w3-text-amber" style="padding-bottom:5vh"><b>Our Story</b></h1>
        <img class=" center" src="/static/pictures/our_story.png" style="width:60%; padding-bottom:2vw">
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           How did you meet?
        </b></p>
        <p class="w3-text-black ">
            We met on Clifton 4th beach one Friday afternoon during one of the regular frisbee socials. It was Melissa’s first time attending a Frisbee event. Daylan spotted her walking with a friend from across the beach, and a flame was ignited. In an attempt to get her attention, he threw a frisbee right at her. Although she was oblivious to his valiant attempt, Daylan remained persistent. After the Frisbee the group moved to a nearby restaurant to get some dinner. Daylan strategically planted himself at the end of the table next to where Melissa was sitting. It wasn’t long until they found themselves engrossed in conversation with each other the whole evening . There may as well have been no one else at the table. Numbers were exchanged, and the rest was history. 
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           Where did you grow up? 
        </b></p>
        <p class="w3-text-black">
            Daylan was born at Constantiaberg Hospital and grew up in Cape Town his entire life.  He has lived in several places, from Simon’s Town, to Noordhoek, and even Southampton in the UK. He now happily resides on Sorrento Farm in Dassenberg. Melissa was born in Pretoria, and grew up in Centurion. She did her community service in Nelspruit, Mpumalanga, after which getting an amazing opportunity to live and work in Cape Town in 2020. Now she will move to her forever home on Sorrento Farm with Daylan. The city girl will soon become a real plaas meisie.
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           Describe your most special memory or adventure together.
        </b></p>
        <p class="w3-text-black">
            Daylan: Wow, it's not possible to choose one memory. It's been one long and growing adventure full of special memories  together. Our first real adventure was renting bikes and riding the promenade together where I first noticed how giddy and goofy we could be with each other. After that we got some ice-cream in seapoint which is still our favourite little place to get a sweet treat. 
            <br><br>
            Melissa: We went to a dear friend’s wedding in Keimoes, Northern Cape. We were trusting google maps to get us there safely, but about five hours in to the road trip,  we ended up on a dirt road for almost two hours! It was an unrelenting, treacherous, never-ending, abandoned stretch of nothingness. Buuuut… it was also so stunningly beautiful and the landscapes around us were breathtaking. Once we overcame our fears and irritations, and embraced the moment, it was truly a wonderful adventure with Daylan. Even though the road was scary, bumpy and hot, the conversations that were had in the car and the beautiful views we saw, will definitely stay in my heart forever.
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           Describe your partners best traits.
        </b></p>
        <p class="w3-text-black">
            Daylan: One of Melissa's best traits is her ability to find the positive in any negative situation and uplift an atmosphere. Melissa has a personality that brings out the best in whoever she encounters, she always wants to see the best for her loved one’s, and has the most positive uplifting type of love I have ever experienced. She is always loyal to her word and has an above and beyond way of serving others. I love watching her inquisitive mind working at solving a problem whether someone else's problem or hers. She has a go getter way of approach to new seasons and loves bringing positive change into any environment.
            <br><br>
            Melissa: Daylan is extremely patient, gentle and kind. He is a man of integrity and cannot tell a lie, not even a small one. He is a very present and emotionally mature partner. He always wants to know how he can support me or what he can do to meet my needs or make life better for me, even in the smallest of ways. He is reliable and always does what he says he will do, and he is very determined once he has decided on something. He listens well and genuinely cares for those around him. He also has a very cute and goofy personality that makes me smile everyday. He is amazingly talented in so many ways, I am constantly learning about new things he can do or surprised by how innovative and creative his mind can be.  
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           Describe your partners more ummm.. quirky traits ;)
        </b></p>
        <p class="w3-text-black">
            Daylan: Melisse has what I like to call "a closure" problem. From peanut butter lid, draws, tomato sauce lid, fridge door to even toothpaste cap she just can’t close it.  (Please I need to understand this.) She also will drive past 5 parking spots before parking in a parking that’s least convenient, almost like when a dog spins around 3 times before actually laying down. She has this specific smile and little clap she does only when she is very very happy. This is actually extremely cute lol. 
            <br><br>
            Melissa: Daylan is extremely pedantic about the way that things are arranged in his house and where things belong. I’ve had to learn to put something back EXACTLY the way I found it after using it, to the exact millimetre (lol). Daylan eats extremely slowly and I’m always left at the dining table staring at him because I’ve finished all my food by the time he starts eating (I like my food hot and he likes his food three days old..hehehe). However, if it's a packet of sweets or a chocolate bar, he eats the whole thing in one bite, so I have to act quicky if I plan on sharing any of that with him! Iv’e also realised that Daylan is prone to injury, accidents and the man flu. Iv’e had to nurse him several times during the course of our relationship, and I must say that he can be quite a difficult patient... ;P
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           What hobbies do you enjoy together?
        </b></p>
        <p class="w3-text-black">
            We enjoy being active and have developed a nice routine of going to the gym together a few days a week. On the weekends however, you will find us trying out different ice cream parlours and grabbing a New York Slice, yum!  We enjoy going on bike rides together and we often take a cruise to find a new scenic lunch spot. We love the beach but we hate the sand lol. We often go for walks on the beach, but we would definitely rather swim in a pool. Other than this, we are just enjoying all the little things that life has to offer together.  
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           How did you know she is the one? 
        </b></p>
        <p class="w3-text-black">
            Daylan: I first started thinking she was the one when I noticed I could be fully myself no matter how goofy or silly I was, she just loved me more for it. I also found no fault with who she was because I could love her 100% so naturally for who she was. I knew 100% that she was the one when I could see how we handled each and every situation we crossed and only wanted the best for each other and to uplift each other and grow together.
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           How did you know he is the one? 
        </b></p>
        <p class="w3-text-black">
            Melissa: There is not one specific thing or moment where I knew Daylan was the one. What I do know is that I prayed long and hard for a partner like Daylan. When he entered my life, I felt a deep sense of knowing within me that he would be playing a significant part of my life and that he was here to stay. I felt the peace of the Lord with him from our very first date, up until now. 
        </p><br>
        
        <p class="w3-text-black w3-center tangerine-small w3-text-autumn-dark"><b>
           What do you look forwards to the most in marriage? 
        </b></p>
        <p class="w3-text-black">
            Daylan:  I look forwards to having my best friend come home to me every day and to make food together and do life together. It’s about the simple things for me. I look forward to going on adventures with my best friend. I look forwards to experiencing new chapters of life like having kids and building a big, beautiful home together
            <br><br>
            Melissa: I look forward to building our home up and decorating it with Daylan. I look forward to having a chilled and stable home life. It is from this place of love and stability where a person can truly flourish and become the best version of themselves. I definitely look forward to planning our overseas trip very soon, we’ve been talking about this since we started dating. The thing I look forward to the most is having my partner in crime there by my side all the time. When I have a good day, he will be there to share the joy with, and when I have a bad day, he will still there to confide in.
        </p><br>
        
        
        
        <p class="w3-center w3-text-black"><a href="#wedding" class="w3-button w3-autumn-light w3-round w3-padding-large w3-large">Wedding Details</a></p>
      </div>
    </div>

</div>
</div>


<!-- Background photo -->
<div class="w3-container w3-snow w3-center">
<p class="w3-text-black">2 Corinthians 13:11 <i class="w3-text-black">Be joyful, grow to maturity, strive for full restoration, encourage each other, and live in harmony and peace. Then the God of love and peace will be with you. </i></p>
</div>
<div class="w3-container w3-snow bgimg5 animate slide-left"></div>
<div class="w3-container w3-snow w3-center">
<p class="w3-text-black">1 Peter 4:8 <i class="w3-text-black">Above all, love each other deeply, because love covers a multitude of sins.</i></p>
</div>


<!-- Wedding information -->

<div class="w3-snow", style="padding-top:1vw; padding-bottom:2vw">

<div class="w3-content w3-snow w3-border-autumn animate slide-right" style="max-width:1587px; position: relative; padding-bottom:2vw; padding-left:2vw; padding-right:2vw" id="wedding">

<div>

    <h1 class="w3-center parisienne-regular w3-text-amber" style="padding-top:5vw; padding-bottom:5vw;"><b>Wedding Details</b></h1>

    <div class="container">
        <div class="links">
            <ul>
                <li class='tangerine-regular w3-text-autumn-dark' data-content="bigDay"> ~ The big day</li>
                <li class='tangerine-regular w3-text-autumn-dark' data-content="preWedding"> ~ The pre-wedding get-together</li>
                <li class='tangerine-regular w3-text-autumn-dark' data-content="goodbyes"> ~ Our goodbyes</li>
            </ul>
        </div>
        <div class="content">
            <div class="image-crop-container">
                <img id="contentImage" src="/static/pictures/manley_estate.jpg" alt="Venue Image">
            </div>
            <div id="eventDetails">
                <!-- Dynamic content will be loaded here based on the clicked link -->
            </div>
        </div>
    </div>
</div>
    

<!-- RSVP section -->
<div class="w3-container w3-snow w3-center w3-wide" id="rsvp" style="padding-bottom:5vw; padding-top:5vw">
  <h2 class='parisienne-regular w3-text-amber' style='font-size:5vh'>Hope You Can Make It!</h2>
  <p class="w3-large w3-text-autumn-dark">Kindly Respond By ??, 2024</p>
  <p class="w3-xlarge w3-text-autumn-dark">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-autumn-dark w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
  </p>
</div>

</div>
</div>
</div>
    

<!-- Background photo -->
<div class="w3-container w3-snow w3-center">
<p class="w3-text-black">Isaiah 43:1  <i class="w3-text-black">But now, thus says the Lord, he who created you, o Israel. Fear not, for I have redeemed you. I have called you by name, you are mine. </i></p>
</div>
<div class="w3-container w3-snow bgimg6 animate slide-left"></div>
<div class="w3-container w3-snow w3-center">
<p class="w3-text-black">Prov 24: 3-4 <i class="w3-text-black">Wise people are builders- They build families, businesses  and communities. And through wisdom and insight their enterprises are established and endure. Because of their skilled leadership, the hearts of people are filled with the treasures of wisdom and the pleasures of spiritual wealth. </i></p>
</div>


<!-- Accommodation -->

<div class="w3-snow" style="padding-top:1vw; padding-bottom:5vw">

<div class="w3-content w3-snow w3-border-autumn" style="max-width:1587px; position: relative; padding-bottom:5vw" id="accommodation">

<div class="animate slide-right">

    <h1 class="w3-center parisienne-regular w3-text-amber" style="padding-top:5vw; padding-bottom:5vw;"><b>Accommodation</b></h1>

    <div class="container">
        <div class="links">
            <ul>
                <de class='tangerine-regular w3-text-autumn-dark' data-content="manley"> ~ Manley Wine Estate </de>
                <de class='tangerine-regular w3-text-autumn-dark' data-content="rijks"> ~ Rijk’s Wine Estate & Hotel</de>
                <de class='tangerine-regular w3-text-autumn-dark' data-content="villa"> ~ Villa Tarentaal</de>
                <de class='tangerine-regular w3-text-autumn-dark' data-content="mont"> ~ Mont Rouge Farm</de>
            </ul>
        </div>
        <div class="content">
            <div class="image-crop-container">
                <img id="contentImageDetails" src="/static/pictures/manley_estate.jpg" alt="Venue Image">
            </div>
            <div id="weddingDetails">
                <!-- Dynamic content will be loaded here based on the clicked link -->
            </div>
        </div>
    </div>
    
</div>
</div>
</div>


<!-- Background photo -->

<div class="w3-container w3-snow w3-center">
<p class="w3-text-black">Isaiah 43:19 <i class="w3-text-black">Above all, love each other deeply, because love covers a multitude of sins.</i></p>
</div>
<div class="w3-container w3-snow bgimg7 animate slide-left"> </div>
<div class="w3-container w3-snow w3-center">
<p class="w3-text-black">Mark 10:9 <i class="w3-text-black">Behold, I will do a new thing, now it shall spring forth. Shall you not know it?  </i></p>
</div>


<div class="w3-snow">

<div class="w3-content w3-snow" style="max-width:1587px; position: relative; padding-top:5vw;" id="information">

    <!-- OTHER INFORMATION -->
    <div class="w3-container w3-padding-64 w3-center animate slide-right w3-border-autumn">
        <div class="w3-content">
          <h1 class="parisienne-regular w3-text-amber"><b>Other Information</b></h1>
        </div>
        <div class="extra-info-div">
            Cash bar<br>
            Dress code: Very much formal ;)<br>
            Children: Due to limited space, we kindly invite only our nieces and nephews along; other than this our reception will be a date night to enjoy!<br>
            Gifts: Your presence at our wedding is the greatest gift of all. However, should you wish to bless us with a gift, a box and table will be available.<br>
            A special thank you to Shaun and Marinda Myburgh for filming our lovely engagement video and for the beautiful photos seen on the invitation. 
        </div>
    </div>

</div>
</div>

<!-- Meet the team -->
<div class="w3-snow" id="team">
<div class="w3-container animate slide-left w3-snow w3-padding-64 w3-text-black w3-center">
        <h1 class="parisienne-regular w3-text-amber" style="padding-top:5vw; padding-bottom:5vw;"><b>Meet The Team</b></h1>
        
        <h1 class="parisienne-regular w3-text-autumn-dark" style="padding-bottom:2vw;">Bride</h1>
    
            <div class="w3-row" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            
                <!-- Card 1 -->
                <div class="w3-card-profile w3-margin card">
                    <img src="/static/pictures/bride/shelley_danny.png" alt="shelley_danny" style="width:100%">
                    <h3>Mother and father of the bride</h3>
                    <p>Introducing Shelley and Danny White. Who loved, sheltered and raised Melissa since 1996 to grow to be the person she is today...</p>
                </div>
                
                <div class="w3-card-profile w3-margin card">
                    <img src="/static/pictures/bride/natasha.png" alt="natasha" style="width:100%">
                    <h3>Natasha</h3>
                    <p>Our friendship was established in 2010 at our Grade eight orientation camp. A kind and extremely curly-haired girl sat next to me while the prefects were plotting their tricks and schemes to unleash onto us. Our friendship was instant and high school became a blast since then with her by my side. </p>
                </div>
                
                <div class="w3-card-profile w3-margin card">
                    <img src="/static/pictures/bride/cassie.png" alt="cassie" style="width:100%">
                    <h3>Cassie</h3>
                    <p>My longest friendship is with her, going all the back to Grade 3. We have done several family vacations together, many sleepovers, holidays, primary school shenanigans, highschool shenanigans deluxe and now as an adult she remains the sweetest friend to have.  </p>
                </div>
                
                <div class="w3-card-profile w3-margin card">
                    <img src="/static/pictures/bride/courtney.png" alt="courtney" style="width:100%">
                    <h3>Courtney</h3>
                    <p>The newest friendship of the lot but she certainly packs a punch. I met her the same night I met Daylan, and she has been our biggest fan since then. Courtney snuck into my heart almost as fast as Daylan did, with her contagious loud laugh and heart of gold. </p>
                </div>
                
                <div class="w3-card-profile w3-margin card">
                    <img src="/static/pictures/bride/lani.png" alt="lani" style="width:100%">
                    <h3>Lani</h3>
                    <p>Our friendship was established in 2018. I started attending classes at her Crossfit gym and we didn’t take very long to become best of friends, many people even confused us as being sisters. She has always inspired me and encouraged me to be the best version of me. </p>
                </div>
                
            </div>
            
            <h1 class="parisienne-regular w3-text-autumn-dark" style="padding-bottom:2vw;">Groom</h1>
        
                <div class="w3-row" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                
                    <!-- Card 1 -->
                    <div class="w3-card-profile w3-margin card">
                        <img src="/static/pictures/bride/shelley_danny.png" alt="shelley_danny" style="width:100%">
                        <h3>Mother and father of the bride</h3>
                        <p>Introducing Shelley and Danny White. Who loved, sheltered and raised Melissa since 1996 to grow to be the person she is today...</p>
                    </div>
                    
                    <div class="w3-card-profile w3-margin card">
                        <img src="/static/pictures/bride/natasha.png" alt="natasha" style="width:100%">
                        <h3>Natasha</h3>
                        <p>Our friendship was established in 2010 at our Grade eight orientation camp. A kind and extremely curly-haired girl sat next to me while the prefects were plotting their tricks and schemes to unleash onto us. Our friendship was instant and high school became a blast since then with her by my side. </p>
                    </div>
                    
                    <div class="w3-card-profile w3-margin card">
                        <img src="/static/pictures/bride/cassie.png" alt="cassie" style="width:100%">
                        <h3>Cassie</h3>
                        <p>My longest friendship is with her, going all the back to Grade 3. We have done several family vacations together, many sleepovers, holidays, primary school shenanigans, highschool shenanigans deluxe and now as an adult she remains the sweetest friend to have.  </p>
                    </div>
                    
                    <div class="w3-card-profile w3-margin card">
                        <img src="/static/pictures/bride/courtney.png" alt="courtney" style="width:100%">
                        <h3>Courtney</h3>
                        <p>The newest friendship of the lot but she certainly packs a punch. I met her the same night I met Daylan, and she has been our biggest fan since then. Courtney snuck into my heart almost as fast as Daylan did, with her contagious loud laugh and heart of gold. </p>
                    </div>
                    
                    <div class="w3-card-profile w3-margin card">
                        <img src="/static/pictures/bride/lani.png" alt="lani" style="width:100%">
                        <h3>Lani</h3>
                        <p>Our friendship was established in 2018. I started attending classes at her Crossfit gym and we didn’t take very long to become best of friends, many people even confused us as being sisters. She has always inspired me and encouraged me to be the best version of me. </p>
                    </div>
                    
                </div>
    
    </div>
</div>
    
    

<!-- RSVP modal -->
<div id="id01" class="w3-modal" style="display:none;">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <form id="rsvpForm">
        <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
        <input class="w3-input w3-border" type="text" placeholder="Dietary requirements" name="dietaryRequirements">
        <input class="w3-input w3-border" type="text" placeholder="Input any song requests here!" name="songRequests">
      </form>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
        </div>
      </div>
      <p><i>Sincerely, Melissa & Daylan</i></p>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-white w3-padding-16">
  <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p> -->
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

<!-- Add a script at the end of your HTML body -->

<script>
document.getElementById('id01').addEventListener('click', function(event) {
  if (event.target === this) {
    document.getElementById('id01').style.display = 'none';
  }
});

function sendRSVP(responseStatus) {
  const formData = new FormData(document.getElementById('rsvpForm'));
  formData.append('response', responseStatus); // Adds whether they are going or not

  fetch('/submit-rsvp', { // URL to your Flask route
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
    document.getElementById('id01').style.display = 'none'; // Close modal on success
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}

document.querySelector('.w3-button.w3-green').addEventListener('click', function() {
  sendRSVP('going');
});

document.querySelector('.w3-button.w3-red').addEventListener('click', function() {
  sendRSVP('not going');
});
</script>
</script>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "25vw";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  document.body.style.backgroundColor = "white";
} 
</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const links = document.querySelectorAll('.links li');
    const eventDetails = document.getElementById('eventDetails');
    const contentImage = document.getElementById('contentImage'); // Get the image element

    // Define the content and associated image source for each event
    const eventData = {
        'preWedding': {
            content: `
                <h3 class='tangerine-small-small w3-text-autumn-dark'>Please join us for a lovely spit-braai as we get to know each other the night before our big day. Let’s acquaint with each other and get the vibes going ;)</h3>
                <p class='w3-text-black'>When - Friday 04 October 18:00</p>
                <p class='w3-text-black'>Location - Manley Estate lapa and pool area</p>
                <p class='w3-text-black'>What to bring - Own drinks (No cash bar on site)</p>
            `,
            imgSrc: '/static/pictures/the_wedding_day.jpg'
        },
        'goodbyes': {
            content: `
                <h3 class='tangerine-small-small w3-text-autumn-dark'>You are invited to join us for our first breakfast as the Myburghs!</h3>
                <a class='w3-text-black' href='https://www.google.com/maps/place/Manley+Wine+Estate+%28Pty%29+Ltd./data=!4m10!3m9!1s0x1dcd3f2942e4e43f:0xf407201fd91f7c62!5m2!4m1!1i2!8m2!3d-33.2710173!4d19.1453836!16s%2Fg%2F1x6n4kh7!19sChIJP-TkQik_zR0RYnwf2R8gB_Q?authuser=0&hl=en&rclk=1'> Venue - Manley Wine Estate Restaurant</a>
                <p class='w3-text-black'>Time - 09:30</p>
                <p class='w3-text-black' style='font-size:0.75rem'>Note: breakfast is included for guests staying at Manley Estate. For guests staying elsewhere, breakfast is R190 per person.</p>
            `,
            imgSrc: '/static/pictures/the_wedding_day.jpg'
        },
        'bigDay': {
            content: `
                <a class='w3-text-black' href='https://www.google.com/maps/place/Manley+Wine+Estate+%28Pty%29+Ltd./data=!4m10!3m9!1s0x1dcd3f2942e4e43f:0xf407201fd91f7c62!5m2!4m1!1i2!8m2!3d-33.2710173!4d19.1453836!16s%2Fg%2F1x6n4kh7!19sChIJP-TkQik_zR0RYnwf2R8gB_Q?authuser=0&hl=en&rclk=1'> Venue - Manley Wine Estate, Tulbagh</a>
                <p class='w3-text-black'>When - Saturday 05 October - 14:30 for a 15:00 Start</p>
            `,
            imgSrc: '/static/pictures/the_wedding_day.jpg' // Assume you have a big day image
        }
    };

    // Initialize with pre-wedding details and image
    eventDetails.innerHTML = eventData['bigDay'].content;
    contentImage.src = eventData['bigDay'].imgSrc;

    links.forEach(link => {
        link.addEventListener('click', function() {
            const contentId = this.getAttribute('data-content');
            eventDetails.innerHTML = eventData[contentId].content;
            contentImage.src = eventData[contentId].imgSrc; // Update the image source based on the clicked link
        });
    });
});

</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const dlinks = document.querySelectorAll('.links de');
    const weddingDetails = document.getElementById('weddingDetails');
    const contentImageDetails = document.getElementById('contentImageDetails'); // Get the image element

    // Define the content and associated image source for each event
    const eventData = {
        'manley': {
            content: `
                <a class="w3-text-black" href="https://www.manleywinelodge.co.za/">https://www.manleywinelodge.co.za/ </a>
                <p class="w3-text-black">Accommodation has already been reserved; phone Nadia to claim your spot. </p>
                <p class="w3-text-black">Contact Nadia Beutler: 081 5111 818 </p>
            `,
            imgSrc: '/static/pictures/manley_estate_2.jpg'
        },
        'rijks': {
            content: `
                <a class="w3-text-black" href="https://rijks.co.za/"> https://rijks.co.za/ </a>
                <p class="w3-text-black">Contact Heidi Truter: 023230 1622 </p>
            `,
            imgSrc: '/static/pictures/rijks_estate.jpg'
        },
        'villa': {
            content: `
                <a class="w3-text-black" href="https://villatarentaal.co.za/"> https://villatarentaal.co.za/ </a>
                <p class="w3-text-black">Contact Joanne: 082 330 4579 </p>
            `,
            imgSrc: '/static/pictures/villa_estate.jpg'
        },
        'mont': {
            content: `
                <a class="w3-text-black" href="https://www.montrouge.co.za/"> https://www.montrouge.co.za/ </a>
                <p class="w3-text-black">Contact Marisha: 072 461 2123 </p>
            `,
            imgSrc: '/static/pictures/mont_estate.jpg'
        }
    };

    // Initialize with pre-wedding details and image
    weddingDetails.innerHTML = eventData['manley'].content;
    contentImageDetails.src = eventData['manley'].imgSrc;

    dlinks.forEach(link => {
        link.addEventListener('click', function() {
            const contentId = this.getAttribute('data-content');
            weddingDetails.innerHTML = eventData[contentId].content;
            contentImageDetails.src = eventData[contentId].imgSrc; // Update the image source based on the clicked link
        });
    });
});

</script>

<script>
// Function to update the countdown every second
function updateCountdown() {
    const weddingDate = new Date("2024-10-04").getTime();
    const now = new Date().getTime();
    const difference = weddingDate - now;
    
    // Time calculations for days, hours, minutes, and seconds
    const days = Math.floor(difference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((difference % (1000 * 60)) / 1000);
    
    // Display the result in the element with id="countdown"
    var countdownElement = document.getElementById("countdown");
    countdownElement.innerHTML = days + " days " + hours + "h "
    + minutes + "m " + seconds + "s ";
    countdownElement.className = "parisienne-regular w3-text-black";
    countdownElement.style = "font-size:5vh";
    
    // If the countdown is finished, write some text
    if (difference < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "The wedding has begun!";
    }
}
// Update the countdown every 1 second
let x = setInterval(updateCountdown, 1000);
</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('active');
      }
    });
  });

  // Observe all elements with the 'animate' class
  document.querySelectorAll('.animate').forEach(element => {
    observer.observe(element);
  });
});
</script>




</body>
</html>
